@model YouPizza.Model.ViewModel.ShoppingCartVM


    <br/>
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="row">
                    <div class="col-6  pt-2">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Shopping Cart
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-outline-info btn-sm" asp-area="Customer" asp-controller="Home" asp-action="Menu">Continue Shopping</a>
                    </div>
                </div>
            </div>
            @if (@Model.ListCart != null)
            {
                <div class="card-body">
                    @for (int i = 0; i < Model.ListCart.Count ; i++)
                    {
                        
                   
                        <div class=" rounded-3 mb-4">
                            <div class="card-body border-0 p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img
                                            src="@Model.ListCart[i].ImageUrl"
                                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1">
                                        <p class="lead fw-normal mb-2">@Model.ListCart[i].Name</p>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 ">
                                        <p class="text-black"> @Model.ListCart[i].Description</p>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 ">
                                        <h5 class="mb-0">@Model.ListCart[i].Price.ToString("C")</h5>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 ">
                                        <form method="post" asp-action="Remove" class="row">
                                            <input asp-for=ListCart[i].Id hidden/>
                                            <input asp-for=ListCart[i].Size hidden/>
                                            <input asp-for=ListCart[i].Price hidden/>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary form-control">Add Ingredient</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <span class="text-info"> Total (USD)</span>
                                    <strong class="text-info">@Model.TotalPrice.ToString("C")</strong>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <div class="card-footer row">
                        <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
                            <a class="btn btn-success form-control" asp-action="Summary">Summary</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p class="text-danger"> You need to Add some items First !</p>
            }
        </div>
    </div>
